/** {
    border: 1px solid white;
}*/
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: black;
}
.overall {
    background-color: rgb(25, 0, 42);
}
.primary-words {
    color: rgb(71, 57, 79);
}
.message-box {
    text-align: center;
    border-radius: 5px;
}

.directions-box {
    height: 5em;
    font-size: 1.5em;
    border-radius: 5px;
}

/*Tokens row*/
.tokens {
    height: 9em;
}
.parent {
    display: flex;
    justify-content: space-between;
}
/*Individual tokens*/
.token {
    margin: .25em;
    height: 3.75em;
    width: 5em;
    background-color: rgb(108, 0, 0);
    border-radius: 10px;
    /*font-size: 1.5em;*/
    color: rgb(255, 0, 0);
}
.coefficient {
    font-size: 20px;
    margin-left: 30%;
    margin-top:15%;
}
.variable {
    font-size: 20px;
    margin-top:15%;
}
.degree {
    font-size: 20px;
    margin-top:15%;
}
.non-coef {
    margin-left: 10%;
}
.non-variable {
    margin-left: 40%;
}
.families {
    height: 40em;
}
.left-families {
    padding: 0;
}
.right-families {
    padding: 0;
}
.family {
    font-family: 'Noto Sans', cursive;
    font-size: 40px;
    text-align: center;
    padding: 0;/*height: 100%;*/
}
.family-text {
    padding-top: 100px;
}
#left-families {
    height: 100%;
    /*margin: 15px;*/
}
#top-left-family {
    height: 280px;
    width: 100%;
    background-color: rgb(60, 1, 61);
    color: rgb(254, 195, 248)
}
#bottom-left-family {
    margin-top: 10px;
    height: 280px;
    width: 100%;
    background-color: rgb(60, 1, 61);
    color:rgb(254, 195, 248)
}
#top-right-family {
    height: 280px;
    width: 100%;
    background-color: rgb(60, 1, 61);
    color:rgb(254, 195, 248)
}
#bottom-right-family {
    margin-top: 10px;
    height: 280px;
    width: 100%;
    background-color: rgb(60, 1, 61);
    color: rgb(254, 195, 248)
}
/*All seating*/
.token-seat {
    margin: .5em 0 .5em 0;
    height: 5em;
    width: 7em;
    background-color: rgb(252, 107, 92);
    border-radius: 30px;
}
/*Tables by side of table*/
#left-families_left-token-slots{

}
#left-families_right-token-slots{

}
#right-families_left-token-slots{

}
#right-families_right-token-slots{

}
.parent2 {
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*Precise seats*/
#top-left-family_top-left-token-seat {

}
#top-left-family_bottom-left-token-seat{

}
#bottom-left-family_top-left-token-seat{

}
#bottom-left-family_bottom-left-token-seat{

}
#top-left-family_top-right-token-seat{

}
#top-left-family_bottom-right-token-seat{

}
#bottom-left-family_top-right-token-seat{

}
#bottom-left-family_bottom-right-token-seat{

}
#top-right-family_top-left-token-seat{

}
#top-right-family_bottom-left-token-seat{

}
#bottom-right-family_top-left-token-seat{

}
#bottom-right-family_bottom-left-token-seat{

}
#top-right-family_top-right-token-seat{

}
#top-right-family_bottom-right-token-seat{

}
#bottom-right-family_top-right-token-seat{

}
#bottom-right-family_bottom-right-token-seat{

}
.footer {
    background-color: rgb(69, 12, 0);
    height: 35px;
}
