/** {
    border: 1px solid white;
}*/
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: black
}
.overall {
    background-color: rgb(69, 12, 0);
}
.primary-words {
    color: rgb(22, 5, 47);
}
.message-box {
    text-align: center;
    border-radius: 5px;
}

.directions-box {
    height: 5em;
    font-size: 1.5em;
    border-radius: 5px;
}

/*Tokens row*/
.tokens {
    height: 9em;

}
.parent {
    display: flex;
    justify-content: space-between;

}
/*Individual tokens*/
.token {
    margin: .25em;
    height: 7.5em;
    width: 10em;
    background-color: rgb(63, 120, 60);
    border-radius: 10px;
    /*font-size: 1.5em;*/
    color: rgb(15, 29, 18)

}
.families {
    height: 40em;
}
.left-families {
    padding: 0;
}
.right-families {
    padding: 0;
}
.family {

    padding: 0;/*height: 100%;*/
}
#left-families {
    height: 100%;
    /*margin: 15px;*/
}
#top-left-family {
    height: 20em;
    width: 100%;
    background-color: rgb(47, 24, 7);
}
#bottom-left-family {
    margin-top: 10px;
    height: 20em;
    width: 100%;
    background-color: rgb(47, 24, 7);
}
#top-right-family {
    height: 20em;
    width: 100%;
    background-color: rgb(47, 24, 7);
}
#bottom-right-family {
    margin-top: 10px;
    height: 20em;
    width: 100%;
    background-color: rgb(47, 24, 7);
}
/*All seating*/
.token-seat {
    margin: .5em 0 .5em 0;
    height: 5em;
    width: 7em;
    background-color: rgb(164, 144, 58);
    border-radius: 30px;
}
/*Tables by side of table*/
#left-families_left-token-slots{

}
#left-families_right-token-slots{

}
#right-families_left-token-slots{

}
#right-families_right-token-slots{

}
.parent2 {
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/*Precise seats*/
#top-left-family_top-left-token-seat {

}
#top-left-family_bottom-left-token-seat{

}
#bottom-left-family_top-left-token-seat{

}
#bottom-left-family_bottom-left-token-seat{

}
#top-left-family_top-right-token-seat{

}
#top-left-family_bottom-right-token-seat{

}
#bottom-left-family_top-right-token-seat{

}
#bottom-left-family_bottom-right-token-seat{

}
#top-right-family_top-left-token-seat{

}
#top-right-family_bottom-left-token-seat{

}
#bottom-right-family_top-left-token-seat{

}
#bottom-right-family_bottom-left-token-seat{

}
#top-right-family_top-right-token-seat{

}
#top-right-family_bottom-right-token-seat{

}
#bottom-right-family_top-right-token-seat{

}
#bottom-right-family_bottom-right-token-seat{

}
.footer {
    background-color: rgb(69, 12, 0);
    height: 35px;
}
